.mainContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
  position: relative;
}

.mainBG {
  background-image: url("../images/PRAHA.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.25;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: large;
}

.container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 3fr 3fr;
  grid-template-areas:
    "header header"
    "main rightSide"
    "footer footer";
}

.content {
  display: flex;
  justify-content: space-between;
}

iframe {
  padding: 50px;
}

h2 {
  margin-left: 50px;
}

p {
  margin-left: 50px;
}

.nadpis {
  margin-left: auto;
  margin-right: auto;
}

.header{
  display: flex;
flex-direction: column;
justify-content: center;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.menu{
    display: flex;
    justify-content: space-around;

}

.section {
  z-index: 1;
}


