.mainContainer {
    background-image: url("../images/PRAHA.jpg") ;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}
