a {
    text-decoration: none;
}
.mainContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/klementinum.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-size: large
}   

@font-face {
    font-family: myFirstFont;
    src: url(../css/Dosis-Medium.ttf);
  }
  

body {
    padding: 0;
    margin: 0;
    font-family: myFirstFont, sans-serif;
}



.container {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-template-columns:  1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
    top: 0;
    grid-template-areas:
    "header header header"
    "main main rightSide"
    "footer footer footer";
}

.menuPanel{
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row  ;
    font-size: 1.7rem;
    font-family: sans-serif;
    justify-content: space-around;
    color: var(--clr-font-light);
}

.content{
    display:flex;
    justify-content: space-between;
    
}


.header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
}


.rightSide {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
}

.section {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-container {
    width: 900px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
 }
 
 p {
    margin-top: 50px;
    margin-bottom: 50px;
 }

img {
    width: 230px;
    padding: 50px;
}


.nadpis {
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content: space-around;
  }

  .footer {
    width: 100vw;
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
  }