.mainContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/naplavka.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
display: grid;
grid-template-rows: 3fr 2fr;
grid-template-columns: 1fr 3fr 1fr;
width: 100vw;
height: 100vw;
top: 0;
grid-template-areas: 
"header header"
"main rightSide"
"footer footer";
}

.menuPanel{
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    font-family: sans-serif;
    justify-content: space-around;
    color: var(--clr-font-light);
}

.content{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100vw;
}

.header{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
}

.rightSide{
    justify-content: center;
}
img {width: 300px}

img {
    padding: 50px;

}

h2 {
   margin-left: 50px;
}

p {
   margin-left: 50px;
}