.mainContainer {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/naplavka.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

.container {
display: grid;
grid-template-rows: 3fr 2fr;
grid-template-columns: 1fr 3fr 1fr;
width: 100vw;
height: 100vw;
top: 0;
grid-template-areas: 
"header header header"
"main main rightSide "
"footer footer footer";
}

.menuPanel{
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    font-family: sans-serif;
    justify-content: space-around;
    color: var(--clr-font-light);
}

.content{
    display: flex;
    justify-content: space-between;
    
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.rightSide{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px;
    padding: 10px;
}

img {width: 300px
}

img {
    padding: 50px;

}

h2 {
   margin-left: 50px;
}

p {
   margin-left: 50px;
}

.section {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.section-container {
    width: 900px;
}